---
import Layout from '../layouts/Layout.astro';
import { handleLogin } from '../scripts/auth.js';

import { SignIn, SignOut } from 'auth-astro/components';
import Banner from "/public/banner.png";

import "../styles/global.css";
---
<Layout>
  <section class="flex flex-col md:flex-row h-screen items-center">
    <div style={`background-image: url('${Banner.src}');`} class="hidden lg:block md:w-1/2 xl:w-2/3 w-full h-full object-cover"></div>

    <div class="bg-white w-full md:max-w-md lg:max-w-full md:mx-auto md:mx-0 md:w-1/2 xl:w-1/3 h-screen px-6 lg:px-16 xl:px-12 flex items-center justify-center">
      <div class="w-full">
        <h1 class="text-xl md:text-2xl font-bold leading-tight mt-12">Log in</h1>

        <form class="mt-6" id="loginForm">
          <div>
            <label class="block text-gray-700">Email Address</label>
            <input 
              type="email" 
              id="email"
              placeholder="Enter Email Address" 
              class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" 
              autofocus 
              required 
            />
          </div>
        
          <div class="mt-4">
            <label class="block text-gray-700">Password</label>
            <input 
              type="password" 
              id="password"
              placeholder="Enter Password" 
              minlength="6" 
              class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" 
              required 
            />
          </div>
        
          <button type="submit" class="w-full block bg-blue-500 hover:bg-blue-400 focus:bg-blue-400 text-white font-semibold rounded-lg px-4 py-3 mt-6">
            Log In
          </button>
        
          <p id="message" class="text-red-500 mt-2"></p>
        </form>

        <hr class="my-6 border-gray-300 w-full">

        <div class="bg-slate-900 text-white px-4 py-2 rounded-lg hover:bg-slate-800 transition dark:bg-white dark:text-slate-900 dark:hover:bg-gray-200 flex items-center gap-2">
          <SignIn provider="google">
            <div class="flex items-center gap-2">
              <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="Google logo" />
              <span>Log in with Google</span>
            </div>
          </SignIn>
        </div>

        <p class="mt-8">
          Need an account?
          <a onclick="window.location.href='/create-account'" class="text-blue-500 hover:text-blue-700 font-semibold">
            Create an account
          </a>
        </p>
      </div>
    </div>
  </section>

  <script type="module">
    import { handleLogin } from "/src/scripts/auth.js";
    document.getElementById("loginForm").addEventListener("submit", handleLogin);
  </script>
</Layout>