---
import LogoBlack from '../assets/logo_black.svg';
---

<nav class="">
	<div class="container mx-auto flex flex-wrap items-center justify-between py-4  ">
		<a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
		<img src={LogoBlack.src} class="h-9" alt="Logo" />
		</a>

    <!-- Menú Hamburguesa para pantallas pequeñas -->
		<button
		data-collapse-toggle="navbar-sticky"
		type="button"
		class="inline-flex items-center p-2 text-sm text-black rounded-lg md:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600"
		aria-controls="navbar-sticky"
		aria-expanded="false"
		>
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>

    <!-- Navegación principal -->
    <div
      class="hidden md:flex w-full md:w-auto md:order-1" id="navbar-sticky"
      id="navbar-sticky"
    >
      <ul class="flex flex-col md:flex-row gap-5 bg-black md:bg-transparent p-4 md:p-0 md:space-x-5">
        <li>
          <a href="/" class="text-black hover:text-amber-500">Inicio</a>
        </li>
        <li>
          <a href="/catalogo/" class="text-black hover:text-amber-500">Productos</a>
        </li>
        <li>
          <a href="/sobre-nosotros/" class="text-black hover:text-amber-500">Sobre Nosotros</a>
        </li>
        <li>
          <a href="/contacto/" class="text-black hover:text-amber-500">Contacto</a>
        </li>
      </ul>
    </div>

    <!-- Botón de llamada a la acción -->
    <div class="flex flex-col md:flex-row gap-5 md:order-2 space-x-3 rtl:space-x-reverse">
      <div class="cursor-pointer hover:text-amber-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>        
      </div>
      <div onclick="window.location.href='/login'" class="cursor-pointer hover:text-amber-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg>
      </div>
    </div>
  </div>
</nav>
