<!--¿Qué hace? -->
<label class="fixed top-9/10 right-2 inline-flex items-center mb-5 cursor-pointer z-10">
    <input type="checkbox" value="" class="sr-only peer">
    <div class="relative w-10 h-5.5 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-gray-500 after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-200 after:border after:rounded-full after:h-4.5 after:w-4.5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-500"></div>
</label>