<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/logo_white.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Cremas y Mil Hojas</title>

		<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body class="blurred bg-gradient-to-bl from-white to-slate-50">
		<slot />
	</body>
</html>

<style>
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		
	}
</style>
